include header

	div(class="main ")

		header(class="header-part")
			div(id="home")
				<!-- Fixed navbar -->
				div(class="navi navbar-default" role="navigation")
					div(class="container")
						div(class="navbar-header page-scroll")
							<a href="#menu">
							button(type="button" data-effect="st-effect-1" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							a(class="wow zoomIn navbar-brand" href="index.html") <img src="img/logo.png" alt="TechGut">
						div(id="navbar" class="navbar-collapse collapse pull-right hidden-xs")
							ul(class="nav navbar-nav navbar-right")
								li 
									<a class="page-scroll" href="index.html">Home</a>
								li 
									<a class="page-scroll" href="index.html">about us</a>
								li 
									<a class="page-scroll" href="index.html">services</a>
								li 
									<a class="page-scroll" href="index.html">product</a>
								li 
									<a class="page-scroll" href="index.html">team</a>
								li(class="dropdown") <a class="page-scroll drop dropdown-toggle" ata-toggle="dropdown" role="button" aria-expanded="false" href="index.html">blog</a>
									ul(class="dropdown-menu" role="menu")
										li <a href="blog-full-width.html">full-width Blog</a>
								li <a class="page-scroll" href="index.html">Contact</a>
								<!-- Search Block -->
								li
									<i class="search fa fa-search search-btn"></i>
									div(class="search-open" style="display:none;")
										div(class="input-group animated fadeInDown" )
											<input type="text" class="form-control" placeholder="Search">
											<span class="input-group-btn">
											<button class="btn-u" type="button">Go</button>

	section(class="blog-header section-padding")
		div(class="container")
			div(class="row")
				div(class="col-xs-12")
					h1(class="section-title text-center") all blog post

	section(class="blog-content")
		div(class="container")
			div(class="row")
				div(class="wow zoomIn col-xs-12")
					<img class="img-responsive" src="img/blog-image01.jpg" alt="blog-image01"/>
				div(class="wow zoomIn col-xs-2 col-sm-3 col-md-2")
					div(class="blog-date")
						p <span>15</span> janu 2015
				div(class="wow zoomIn col-xs-12 col-sm-9 col-md-10")
					h1
						<a href="#">This is a standard post format with Vimeo Video</a>
					div(class="icon-holder")
						<a href="#"><span><i class="flaticon-man494"></i> admin</span></a>
						<a href="#"><span><i class="flaticon-eye128"></i> views</span></a>
						<a href="#"><span><i class="flaticon-comments16"></i>comments</span></a>
					p(class="contents")
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id ex quis arcu ultrices semper. Donec porttitor, justo sed convallis suscipit, magna est ullamcorper magna, nec efficitur enim felis vitae est. Fusce condimentum lobortis est, vitae dictum augue tempus ac. Pellentesque habitant morbi tristique senectus et netus Curae;
					<a href="#"><button class="btn">read more</button></a>

	section(class="blog-content")
		div(class="container")
			div(class="row")
				div(class="wow zoomIn col-xs-12")
					<iframe src="http://player.vimeo.com/video/80255970?color=569eba&title=0&portrait=0&badge=0" class="video-area" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				div(class="wow zoomIn col-xs-2 col-sm-3 col-md-2")
					div(class="blog-date")
						p <span>15</span> janu 2015
				div(class="wow zoomIn col-xs-12 col-sm-9 col-md-10")
					h1
						<a href="#">This is a standard post format with Vimeo Video</a>
					div(class="icon-holder")
						<a href="#"><span><i class="flaticon-man494"></i> admin</span></a>
						<a href="#"><span><i class="flaticon-eye128"></i> views</span></a>
						<a href="#"><span><i class="flaticon-comments16"></i>comments</span></a>
					
					p(class="contents")
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id ex quis arcu ultrices semper. Donec porttitor, justo sed convallis suscipit, magna est ullamcorper magna, nec efficitur enim felis vitae est. Fusce condimentum lobortis est, vitae dictum augue tempus ac. Pellentesque habitant morbi tristique senectus et netus Curae;
					<a href="#"><button class="btn">read more</button></a>
			div(class="row")
				div(class="wow zoomIn col-xs-12")
					<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/138464532&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				div(class="wow zoomIn col-xs-2 col-sm-3 col-md-2 ")
					div(class="blog-date")
						p <span>15</span> janu 2015</p>
				div(class="wow zoomIn col-xs-12 col-sm-9 col-md-10")
					h1 <a href="#"> This is a standard post format with Vimeo Video</a>
					div(class="icon-holder")
						<a href="#"><span><i class="flaticon-man494"></i> admin</span></a>
						<a href="#"><span><i class="flaticon-eye128"></i> views</span></a>
						<a href="#"><span><i class="flaticon-comments16"></i>comments</span></a>
					p(class="contents")
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id ex quis arcu ultrices semper. Donec porttitor, justo sed convallis suscipit, magna est ullamcorper magna, nec efficitur enim felis vitae est. Fusce condimentum lobortis est, vitae dictum augue tempus ac. Pellentesque habitant morbi tristique senectus et netus Curae;

					<a href="#"><button class="btn">read more</button></a>

			div(class="row")
				div(class="wow zoomIn col-xs-12 col-sm-10 col-sm-offset-2 ")
					ul(class="pagination pagination-lg")
						li
							a(href="#" aria-label="Previous")
								<span aria-hidden="true">&larr; </span><small>previous</small>
						li
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#") 4
						li
							a(href="#") 5
						li
							a(href="#" aria-label="Next")
								<small>next</small><span aria-hidden="true"> &rarr;</span>

include footer